---
import { render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { getCollection } from "astro:content";
import DateYMD from "../../components/DateYMD.astro";
import Links from "../../components/Links.astro";
import { components } from "../../components/mdx_components.ts";

export async function getStaticPaths() {
  const posts = await getCollection("articles");
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description} type="article">
	<Prose>
		<div class="tw:flex tw:flex-row tw:gap-3">
			<a href="/articles">記事一覧</a>
		</div>
		<h1>{post.data.title}</h1>
		<div class="tw:-mt-6 tw:mb-6">
			<DateYMD date={post.data.publishAt}/> {post.data.updateAt && (
				<span>(更新: <DateYMD date={post.data.updateAt}/>)</span>
			)}
		</div>
		<Links links={post.data.links}/>
		<Content components={components} />
	</Prose>
</Layout>