---
import { render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";
import Links from "../../components/Links.astro";
import { components } from "../../components/mdx_components.ts";

export async function getStaticPaths() {
  const posts = await getCollection("contests");
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const problems = await getEntries(post.data.problems);
---

<Layout title={post.data.title} description={post.data.description} type="article">
	<Prose>
		<a href="/contests">コンテスト一覧</a>
		<h1>{post.data.title}</h1>
		<div class="tw:-mt-6 tw:mb-8">
			<h2 class="tw:text-sm! tw:block tw:mt-12">問題個別記事</h2>
    	<ul>
    	  {problems.map(post => (
    	    <li>
    	      <div class="tw:flex tw:flex-row tw:gap-3">
    	        <a href={`/problems/${post.id}`}>
    	          {post.data.title}
    	        </a>
    	      </div>
    	    </li>
    	  ))}
    	</ul>
		</div>
		<Links links={post.data.links}/>
		<Content components={components} />
	</Prose>
</Layout>