---
import { render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { getCollection } from "astro:content";
import DateYMS from "../../components/DateYMS.astro";
import { getEntries } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("contests");
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const problems = await getEntries(post.data.problems);
---

<Layout title={post.data.title}>
	<Prose>
		<a href="/contests">戻る</a>
		<h1>{post.data.title}</h1>
		<div class="tw:-mt-6 tw:mb-6">
			<DateYMS date={post.data.date}/>
		</div>
		<div class="tw:-mt-6 tw:mb-8">
			<h2>問題</h2>
    	<ul>
    	  {problems.map(post => (
    	    <li>
    	      <div class="tw:flex tw:flex-row tw:gap-3">
    	        <a href={`/problems/${post.id}`}>
    	          {post.data.title}
    	        </a>
    	      </div>
    	    </li>
    	  ))}
    	</ul>
		</div>
		<div class="tw:mx-2">
			<span>リンク</span>
			{post.data.links &&
				Object.entries(post.data.links).map(([name, link]) => (
					<a href={link} target="_blank">{name}</a>
				))
			}
		</div>
		<Content />
	</Prose>
</Layout>